body{
margin:0;
font-family:Arial,sans-serif;
background:#f4f4f4;
text-align:center;
}

header{
background:#006C35;
color:white;
padding:30px;
}

section{
background:white;
margin:20px;
padding:20px;
border-radius:10px;
}

h2{
color:#006C35;
}

ul{
list-style:none;
padding:0;
}

li{
padding:8px;
font-size:18px;
}

img{
width:500px;
max-width:90%;
border-radius:10px;
}

footer{
background:#006C35;
color:white;
padding:20px;
margin-top:30px;
}

img{
    width: 500px;
    height: auto;
    border-radius: 10px;
    margin: 15px 0;
    box-shadow: 0 4px 10px rgba(0,0,0,0.3);
}